<%=form_tag '/missed_calls/index',:method => "get",:class => "well form-inline" do %>
  <%= label_tag(:date, "Дата", :class => "span3")%>
  <%= text_field_tag(:date, @date)%>
  <br>
  <%= label_tag(:hour, "Час", :class => "span3")%>
  <%= text_field_tag(:hour, @hour)%>
  <%= submit_tag("Выбрать", :class => 'btn')%>
<% end %>
<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>Время</th>
    <th>Номер пропущенного звонка</th> 
    <th>Продолжительность</th>
  </tr>
  </thead>
<% @calls.each do |call|%>
  <tr>
  <td><%#= call.my_time %></td>
  <td><%= call.src %></td>
  <td><%= call.billsec %></td>
  </tr>
<% end %>
</table>
