%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{:type => "button", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", "aria-expanded" => "false"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Телефония OM14200", calls_path, class: "navbar-brand"

    #navbarCollapse.collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          %li= link_to "Таблица звонков",calls_path
          %li= link_to "Отчеты", reports_path
          %li= link_to "Справочник клиентов", clients_path
          %li= link_to "Пропущенные звонки", missed_calls_path
          %li= link_to "Поисковые запросы", search_requests_path
        %ul.nav.navbar-nav.navbar-right
          %li= render 'devise/menu/login_items'
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= render 'devise/menu/login_items'
