= form_for (@client) do |client|
  = client.label "Компания"
  = client.text_field :company
  = client.label "Номер телефона"
  = client.text_field :phone_number
  = client.label "Контактное лицо"
  = client.text_field :contact
  = client.submit :class => "btn"
