<table class="table table-striped table-bordered">
  <tr>
    <td>ID</td>
    <td><%= link_to 'Company', clients_path(sort_by:"company",dir:"dsc") %></td> 
    <td><%= link_to 'Phone', clients_path(sort_by:"phone_number") %></td>
    <td><%= link_to 'Contact', clients_path(sort_by:"contact") %></td>
  </tr>
<% @clients.each do |client|%>
  <tr>
  <td><%= client.id %></td>
  <td><%= client.company %></td>
  <td><%= client.phone_number %></td>
  <td><%= client.contact %></td>
  <td><%= link_to 'Редактировать', edit_client_path(client) %></td>
  <td><%= link_to 'Удалить', client, confirm: "Точно?", method: :delete%></td>
  </tr>
<% end %>
</table>
