<h1>Clients#list</h1>
<p>Find me in app/views/clients/list.html.erb</p>
<table>
  <tr>
    <td>ID</td>
    <td><%= link_to 'Company'  %></td>
    <td>Phone</td>
    <td>Contact Person</td>
  </tr>
<% @clients.each do |client|%>
  <tr>
  <td><%= client.id %></td>
  <td><%= client.company %></td>
  <td><%= client.phone_number %></td>
  <td><%= client.contact %></td>
  </tr>
<% end %>
</table>
