%table
  %tr
    %td ID
    %td= link_to 'Company'
    %td Phone
    %td Contact Person
  - @clients.each do |client|
    %tr
      %td= client.id
      %td= client.company
      %td= client.phone_number
      %td= client.contact
