<%=form_tag '/reports/incoming_calls',:class => "well form-inline" do %>
  <%= label_tag(:from, "С даты", :class => "span3")%>
  <%= text_field_tag(:from, @date_from)%>
  <br>
  <%= label_tag(:to, "По дату", :class => "span3")%>
  <%= text_field_tag(:to, @date_to)%>
  <br>
  <%= label_tag(:duration, "Продолжительность звонка", :class => "span3")%>
  <%= text_field_tag(:duration, @call_duration)%>
  <br>

  <%= label_tag(:monthly, "Помесячная группировка")%>
  <%= radio_button_tag(:group_by, "month(calldate)")%>
  <%= label_tag(:weekly, "Понедельная группировка")%>
  <%= radio_button_tag(:group_by, "week(calldate)")%>
  <%= label_tag(:daily, "Группировка по дням")%>
  <%= radio_button_tag(:group_by, "date(calldate)", true)%>
  <%= submit_tag("Выбрать", :class => 'btn')%>
<% end %>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <th>Дата</th>
    <th>Количество звонков</th>
  </thead>
<% @calls.each do |date, count|%>
  <tr>
  <td><%= date %></td>
  <td><%= count %></td>
  </tr>
<% end %>
</table>
