<%=form_tag do %>
  <%= label_tag(:from, "С даты", :class => "span3")%>
  <%= text_field_tag(:from, @date_from)%>
  <%= label_tag(:to, "По дату", :class => "span3")%>
  <%= text_field_tag(:to, @date_to)%>
  <%= label_tag(:duration, "Продолжительность звонка", :class => "span3")%>
  <%= text_field_tag(:duration, @call_duration)%>
  <br>

  <%= label_tag(:monthly, "Помесячная группировка")%>
  <%= radio_button_tag(:group_by, "month(calldate)")%>
  <%= label_tag(:weekly, "Понедельная группировка")%>
  <%= radio_button_tag(:group_by, "week(calldate)")%>
  <%= label_tag(:daily, "Группировка по дням")%>
  <%= radio_button_tag(:group_by, "date(calldate)", true)%>
  <%= submit_tag("Понеслась", :class => 'btn')%>
<% end %>
<%= @date_from %>
<table class="table table-striped table-bordered table-condensed">
<% @calls.each do |call|%>
  <tr>
  <td><%= call.src %></td>
  <td><%#= call.count_src %></td>
  </tr>
<% end %>
</table>
