.col-md-6.col-md-offset-2
  %h1 Отчеты
  .list-group
    = link_to 'Основной отчет по звонкам', reports_main_report_path, class: "list-group-item"
    = link_to 'Отчет по входящим звонкам', reports_incoming_calls_path, class: "list-group-item"
    = link_to 'Отчет по оператору', reports_operator_path, class: "list-group-item"
    = link_to 'Пропущенные звонки оставшиеся без ответа', reports_unanswered_calls_path, class: "list-group-item"
    = link_to 'Пропущенные звонки по часам', reports_missed_calls_path, class: "list-group-item"
