<%=form_tag '/reports/main_report',:class => "well form-inline" do %>
  <%= label_tag(:date, "Дата", :class => "span3")%>
  <%= text_field_tag(:date, @date)%>
  <br>
  <div class="row">
  <%= label_tag(:monthly, "Месячная группировка", :class => "span4")%>
  <%= radio_button_tag(:group_by, "month", :class => "span2")%>
  </div>
  <div class="row">
  <%= label_tag(:weekly, "Просмотр недели", :class => "span4")%>
  <%= radio_button_tag(:group_by, "week", :class => "span2")%>
  </div>
  <div class="row">
  <%= label_tag(:daily, "Просмотр дня по часам", :class => "span4")%>
  <%= radio_button_tag(:group_by, "day", :class => "span2")%>
  </div>
  <%= submit_tag("Выбрать", :class => 'btn')%>
<% end %>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <th><%=@date_column%></th>
    <th>Всего звонков</th>
    <th>Входящих звонков</th>
    <th>Исходящих звонков</th>
    <th>Принятых звонков</th>
    <th>Пропущенных звонков</th>
  </thead>

<% @calls.each do |call|%>
  <tr>
  <td><%= call.time %></td>
  <td><%= call.quantity_all.round %></td>
  <td><%= call.quantity_in.round %></td>
  <td><%= call.quantity_out.round %></td>
  <td><%= call.received.round %></td>
  <td><%= call.missed.round %></td>
  </tr>
<% end %>
</table>
