.well.well-sm.text-center
  %h2=@title
= form_tag '/reports/main_report',:class => "well form-vertical" do
  %p.lead
    Внимание! В отчете учитываются только звонки совершенные в период с 8:00 до 18:00, в рабочие дни.
    Непринятые звонки продолжительностью до 25 секунд - не учитываются.
  .form-group
    = label_tag :date, "Дата"
    = text_field_tag :date, @date, class: "form-control"
    = radio_button_tag :group_by, "month", class: "form-control"
    %span Просмотр по месяцам
    = radio_button_tag :group_by, "week", class: "form-control"
    %span Просмотр по неделям
    = radio_button_tag :group_by, "day", class: "form-control"
    %span Просмотр по часам
  = submit_tag "Выбрать", class: 'btn btn-default'

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %th= @date_column
    %th Всего звонков
    %th Входящих звонков
    %th Исходящих звонков
    %th Принятых звонков
    %th Пропущенных звонков
  - @calls.each do |call|
    %tr
      %td= call.time
      %td= call.quantity_all.round
      %td= call.quantity_in.round
      %td= call.quantity_out.round
      %td= call.received.round
      %td= call.missed.round
