<!DOCTYPE html>
<html>
<head>
  <title>Vodovoz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Водовоз</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Таблица звонков",calls_path %></li>
            <li><%= link_to "Отчеты", reports_path %></li>
            <li><%= link_to "Справочник клиентов", clients_path %></li>
            <li><%= link_to "Пропущенные звонки" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br><br> <br>
  <div class="container">
    <div class="row">
      <div class="span8">  <%= yield %> </div>
      <div class="span2 offset2"><%= link_to 'Новый клиент', new_client_path, :class => 'btn' %></div>
    </div>
  </div>
</body>
</html>
